body{
    margin-left: 20px;
}
header{
    border: black;
    display: inline-block;
}

nav{
    border:1px solid black;
    background-color: black;
    padding: 20px;
}
li{
    display: inline-block;

}
a{
    text-decoration:underline;
    color: ivory;
    padding-left: 16vw;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jardin{
    font-size:2vw ;
    margin-left: 40vw;
    

}